@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:wght@300;500;700&display=swap");

$dark: #121212;
$primary: #e4c1ae;

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: $dark;
}

.section {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__left,
.section__right {
  max-width: 480px;
}

.section__left {
  margin-bottom: 2em;
  width: 100%;
  height: 100%;
}

.section__right {

  width: 100%;
}

.section__title {
  margin-bottom: 0.5em;
  font-size: 30px;
  font-weight: 700;
}

.section__description {
  margin-bottom: 1.5em;
  font-weight: 300;
  font-size: 16px;
}

.section__button {
  color: white;
  background-color: $primary;
  border: none;
  border-radius: 32px;
  padding: 16px 40px;
  cursor: pointer;
}

.section__button:active {
  filter: brightness(1.1);
}

.alert {
  display: flex;
  background-color: whitesmoke;
  height: 210px;
  max-width: 920px;
  position: fixed;
  z-index: 999;
  top: 375px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.show {
    visibility: visible;
  }
}

.alert__messageContainer {
  flex: 8;
  padding: 3.5em 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.alert__title {
  font-size: 42px;
  font-weight: 700;
}

.alert__message {
  font-weight: 300;
}

.alert__buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  font-size: 1.3em;
  font-weight: 300;
  padding: 2em 2.5em;

  #alert-closeButton {
    cursor: pointer;
    height: fit-content;
    align-self: flex-end;
    flex: 1;
  }

  #alert-resetButton {
    cursor: pointer;
    align-self: flex-end;
    flex: 1;
    display: flex;
    align-items: flex-end;
    color: red;
    visibility: hidden;

    &.show {
      visibility: visible;
    }
  }
}

.alert__shadow {
  width: 100%;
  height: 100%;
  opacity: 50%;
  position:fixed;
  top: 0;
  left: 0;
  background-color: $dark;
  visibility: hidden;

  &.show {
    visibility: visible;
  }
}

@media screen and (min-width: 784px) {
  .section {
    padding-left: 10em;
    padding-right: 10em;
  }
  .section__left,
  .section__right {
    max-width: 784px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em 10em;
    margin-top: 96px;
  }
  .section__left,
  .section__right {
    max-width: 505px;
  }
  .section__left {
    margin-bottom: 0;
  }

  .section__title {
    font-size: 42px;
  }

  .section__description {
    font-size: 16px;
  }
}
